<form class="" action= <%= todo_list_url(@todo_list) %> method="post">
  <input type="hidden" name="_method" value="patch">
  <input type='hidden' name= 'authenticity_token' value= <%= form_authenticity_token %>>
  <label for="name">Name
    <input type="text" name="todo_list[name]" value= <%= @todo_list.name %>></label>
  <label for="">Description
    <input type="text" name="todo_list[description]" value= <%= @todo_list.description %>></label>
  <input type="submit" value="Update Todo List">
</form>
