<form class="" action= <%= action %> method="post">
  <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
  <label>username
    <input
      type="text"
      name="user[user_name]">
    </label>

  <label>password
    <input
      type="text"
      name="user[password]">
    </label>

    <input type="submit" value="sign up/log-in">
</form>
