<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]" class = 'tweet-form'></textarea>
    <strong class='chars-left'></strong>
  </label>
  <br>

  <label>
    Mention
    <a href="javascript:void(0)" class='add-mention'>Add Mention</a>
    <ul class="mentions">

    </ul>

    <script type="text/template" class='mention-script'>

      <select name="tweet[mentioned_user_ids][]">
        <option></option>
        <% User.all.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>

    </script>
  </label>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
