ul{
  position: relative;
  list-style: none;
  width: 300px;
  border: 5px solid black;
  margin:0 auto;
  padding: 0;
}

li{
  background-color: grey;
  border: 5px solid black;
  height:90px;
  width:90px;
  float: left;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

li:hover {
  background-color: yellow;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
